
@{
    ViewBag.Title = "Create";
}
<div class="container">
    <div class="row">
        <h2 class="text-center">Opret kunde</h2>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-md-offset-4 form-con">
            <hr />

            @using (Html.BeginForm("Create", "Customer", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                @Html.Partial("_CustomerPartial")

                <input type="submit" value="Gem" />
            }
        </div>
    </div>
</div>